h2,h3,h4
{
    text-align:center;
    color: green
}

h5
{
    text-align: center;
    color: yellow
}
table, th, td {
  border: 2px solid blue;
  text-align: center;
}
th{
      color:red;
}

td{
    color: green
}
h1
{
  text-align:center;
  color: red
}
#name
{
  color:#1a53ff
}
#upper{
    height: auto;
    background: linear-gradient(to bottom left, #9999ff 0%, #ffff00 100%);
}

#lower
{
    height: auto;
    background: linear-gradient(to right, #00ff99 0%, #cc99ff 100%)
}
