{% extends "layout.html" %}

{% block title %}
    Practice Paper
{% endblock %}

{% block body %}
    {% if mode==1 %}
        <h1>List of Paper for Practise</h1>
    {% elif mode==2 %}
        <h1>List of Paper for Test</h1>
    {% else %}
      <h1>List of Paper for Check Marks</h1>
    {% endif %}
    <ul>
        {% for paper in papers %}
            <li>
                {% if mode==1 %}
                    <a href="{{ url_for('show', paper_id=paper.paper_id) }}">
                      {{ paper.examname }}-{{ paper.subject }},           {{paper.exambody}}::{{paper.examdate}}
                    </a>
                {% elif mode==2 %}
                    <a href="{{ url_for('test', paper_id=paper.paper_id) }}">
                          {{ paper.examname }}-{{ paper.subject }},           {{paper.exambody}}::{{paper.examdate}}
                    </a>
                {% else %}
                    <a href="{{ url_for('test', paper_id=paper.paper_id) }}">
                      Key:  {{ paper.examname }}-{{ paper.subject }},           {{paper.exambody}}::{{paper.examdate}}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {{ message }}
{% endblock %}
