{% extends "layout.html" %}

{% block title %}
    Practice Paper
{% endblock %}

{% block body %}
    {% if mode==1 %}
        <h1>List of Paper for Practise</h1>
    {% elif mode==2 %}
        <h1>List of Paper for Test</h1>
    {% else %}
      <h2 style="color:green;background-color:yellow;">List of Paper for Check Marks With Final Answer Key</h2>
    {% endif %}
    <ul>
        {% for paper in papers %}
            <li>
                {% if mode==1 %}
                    <a href="{{ url_for('show', paper_id=paper.paper_id) }}">
                      {{ paper.examname }}-{{ paper.subject }},           {{paper.exambody}}::{{paper.examdate}}
                    </a>
                {% elif mode==2 %}
                    <a href="{{ url_for('test', paper_id=paper.paper_id) }}">
                          {{ paper.examname }}-{{ paper.subject }},           {{paper.exambody}}::{{paper.examdate}}
                    </a>
                {% else %}
                    <a href="{{ url_for('input', paper_id=paper.paper_id) }}">
                      <h5>{{ paper.examname }}-{{ paper.subject }},           {{paper.exambody}}::{{paper.examdate}}</h5>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if mode==3 %}
    <h2 style="color:green;background-color:yellow;">List of Paper for Check Marks With Provisional Answer Key</h2>
      <ul>
        {% for paper in papers2 %}
            <li>
                <a href="{{ url_for('input', paper_id=paper.paper_id) }}">
                    <h5>{{ paper.examname }}-{{ paper.subject }},           {{paper.exambody}}::{{paper.examdate}}</h5>
                </a>
            </li>
        {% endfor %}
      </ul>
    {% endif %}
    {{ message }}
{% endblock %}
