<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="cache-control" content="max-age=0">
    <meta charset="utf-8">
    <title>Test</title>

    <link rel="stylesheet" href="static/teststyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  </head>
  <body>
          <div class="header" id="myHeader">
            <h2 align="center">{{ paper.examname }}-{{ paper.subject }},  {{paper.exambody}}::{{paper.examdate}} </h2>
          </div>
          <div id="app">
            {% set counter=[1] %}
          <ol>

                {% for que in questions %}
                <li>
                      <h3 class="bluecol">{{que.question}}</h3>
                      <ol type="A">
                        <li id="{{counter}}A">{{que.option_a}}</li>
                        <li id="{{counter}}B">{{que.option_b}}</li>
                        <li id="{{counter}}C">{{que.option_c}}</li>
                        <li id="{{counter}}D">{{que.option_d}}</li>
                      </ol>
                      <section>
                          <label class="radio-inline">
                              <input type="radio" name="optradio" v-model="ans{{counter}}" value=["A","{{que.right_option}}"]>A
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio" v-model="ans{{counter}}" value="B">B
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio" v-model="ans{{counter}}" value="C">C
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio" v-model="ans{{counter}}" value="D">D
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio" v-model="ans{{counter}}" value="E" >E
                          </label>


                    </section>



                    {% if counter.append(counter.pop() + 1) %}{% endif %}

                </li>
                {% endfor %}
          </ol>


          <button v-on:click="changeResult" class="btn btn-success" type="button" name="button">Show Result</button>
          <div v-show="showResult">
                Kem 6o?
                [[ total ]] <br>
            <!--<div v-for="item in (1,10)"> -->
                Answer: [[ ans[1][0] ]] <br>
                Right Ans= [[ ans[1][1] ]] <br>


          Hello
        </div>

          <!--
          <section>
  <h3>radio buttons</h3>
  <input type="radio" v-model="color" value="0">red
  <input type="radio" v-model="color" value="1">blue
  <input type="radio" v-model="color" value="2">yellow
  <br />
  <span>value: [[color]]</span>
</section>

          <input v-model="message" placeholder="Enter a message">
              <p>Message is: [[ message ]]</p> -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
        <script src="static/test.js?v=5"> </script>
  </body>
</html>
